main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 1300px;
    width: 800px;
    margin: 0 auto;
}

main img {
    width: 40%;
    margin: 0 5px 5px 0;
}

h1 {
    text-align: center;
}