.yellow-theme {
    --gray-hover-background: #7d827d;
    --gray-background: #ffba08;
    --black-background: #191a19; 
    --white-background: #ffffff;
    --dark-background: #000000;
}
.red-theme {
    --gray-hover-background: #7d827d;
    --gray-background: #d00000;
    --black-background: #191a19; 
    --white-background: #ffffff;
    --dark-background: #000000;
}
.orange-theme {
    --gray-hover-background: #7d827d;
    --gray-background: #e85d04;
    --black-background: #191a19; 
    --white-background: #ffffff;
    --dark-background: #000000;
}